body #introduction{
  background-color: #E8505B;
  color: white;
  font-family: 'Sacramento', cursive;
}
section .first-container{
  padding: 3% 15% 7%;
  margin: 0 auto;
}
nav.navbar{
  padding: 3% 15%;
}
.intro-img{
  border:0;
  padding:0;
  border-radius: 100%;
}
span.shen-span{
  font-size: 2.5rem;
  font-weight:bold;
  padding: 3% 3% 3% 0;
  position: absolute;
  left:0;
  }
img.intro-img{
  padding: 0;
  width: 50%;
  position: absolute;
  right:22%;
}
@media (max-width: 1028px){
  img.intro-img{
    position: static;
    width: 50%;
  }

  section#introduction{
    text-align: center;
  }
  span.shen-span{
    text-align:center;
    position: static;

  }

}
h1.intro-text{
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 20px;
  font-size: 75px;
}
h1.intro-text:hover{
  color: black;
}

/* child */

h5.card-title{
  color: #E8505B;
  font-size:1.5rem;
}
img.sparkles-img-1{
  width: 100%;
  position: relative;
  z-index: 0;

}
img.sparkles-img-2{
  width: 100%;
  position: relative;
  z-index: 0;
}
img.sparkles-img-3{
  width: 100%;
  position: relative;
  z-index: 0;
}
@media (max-width: 1028px) {

  img.sparkles-img-1{
    position: static;
    width: 100%;
    margin: 0;
  }
  img.sparkles-img-2{
    position: static;
    width:70%;

  }
  img.sparkles-img-3{
    position: static;
    display: none;
  }
}
div.card{
  position: absolute;
  z-index: 1;
  width:75%;
  padding:10px;
  left:12%;
  margin-top: 50px;
  margin-bottom: 50px;
}
 div.card:hover{
   border-color: #363636;
 }

/* children */

div .birthday-texts{
  padding: 3% 2%;
  margin: 10px 0;
}
div.slide{
  margin: 0;
  padding: 0;
}

div.first-slide{
  background-color: #f9d56e;
}
div.second-slide{
  background-color: #14b1ab;
  color: white;
}
div.third-slide{
  background-color: #e8505b;
  color: white;
}
div.fourth-slide{
  background-color: #f9d56e;
}
div.fifth-slide{
  background-color: #14b1ab;
  color: white;
}
div.sixth-slide{
  background-color:#e8505b;
  color: white;
}
h2{
  text-align: center;
  display:block;
}

@media (max-width:1028px) {
  div.slide{
    margin:50px 10px;
  }
}

h2, h3, h4, h5, h6, p {
  font-family: 'Montserrat', sans-serif;
}
